{% include "header.html" %} 
{% block content %}
{% load static %}
<link href='{% static "/css/style.css" %}' rel="stylesheet">
<section id="about" class="about" >
    <div class="container">
        
</div>
<section id="about" class="about" >
    <div class="container">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
<!-- ---------------------- [edit] ------------------------ -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<h1 class="text-center mt-3"><strong>코로나 현황</strong></h`>
<h5 class="text-center mt-3"> {{data.createDt}} </h5>
<div class="row mb-3 mt-3 text-center justify-content-center">
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 fw-normal">누적 확진환자</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">{{data.decideCnt}}</h1>
          </div>
        </div>
    </div> 
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 fw-normal">누적 사망자</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">{{data.deathCnt}}</h1>
          </div>
        </div>
    </div>
</div>
<div class="row mb-3 mt-3 text-center"> 
    <div class="col-md-3">
      <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 fw-normal">일일 사망</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">{{today.0}}</h1>
          </div>
        </div>
    </div>
    <div class="col-md-3">
      <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 fw-normal">일일 재원 위중증</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">{{today.1}}</h1>
          </div>
        </div>
    </div>
    <div class="col-md-3">
      <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 fw-normal">신규 입원</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">{{today.2}}</h1>
          </div>
        </div>
    </div>
    <div class="col-md-3">
      <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 fw-normal">일일 확진자</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">{{today.3}}</h1>
          </div>
        </div>
    </div>     
</div>
{% endblock %}
