{% include "header.html" %} 
{% block content %}
{% load static %}
<link href='{% static "/css/style.css" %}' rel="stylesheet">
<section id="about" class="about" >
    <div class="container">
        
</div>
<section id="about" class="about" >
    <div class="container">
        
</div>
<div class="row justify-content-center mb-2">
    <div class="col-md-4">
        <div class="card" >
            <img src="/static/images/dust.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">미세먼지 수치</h5>
		<p class="card-text">{{pm10}}</p>
            	<a href="{% url 'dust_checker:detail'%}" class="btn btn-primary">>> 자세히</a>
	    </div>
        </div>
    </div>
</div>
{% endblock %}
